<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <input id="tag" type="hidden" value="{{tag}}">
        <h1>Hello</h1>
        <input id="name" type="text">
        <input id="message" type="text">
        <button id="sendio">send</button>
        <ul id="messages"></ul>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/public/js/client.js"></script>
</html> 